@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
